.footer {
    max-width: 166px;
    margin: 0 auto;
}

.footer__copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 24px;
    color: #fff;
    margin-top: 90px;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 166px;
        margin: 0 auto;
    }
    
    .footer__copyright {
        width: 166px;
        height: 16px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        padding-bottom: 24px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 166px;
        margin: 0 auto;
    }
    
    .footer__copyright {
        width: 166px;
        height: 14px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 24px;
        margin-top: 90px;
    }
}