.footer {
    font-family: Inter;
    max-width: 166px;
    margin: 0 auto;
}

.footer__copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 24px;
}