.header {
    display: flex;
    justify-content: center;
    padding: 34px 0 0;
    margin: 0 auto;
}

.header__logo {
    width: 254px;
    height: 70px;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        padding: 30px 0 0;
        margin: 0 auto;
    }   
    
    .header__logo {
        width: 254px;
        height: 66px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        display: flex;
        justify-content: center;
        padding: 20px 0 0;
        margin: 0 auto;
    }
    
    .header__logo {
        width: 188px;
        height: 52px;
    }
}