.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    max-width: 984px;
    margin: 0 auto;
}

.hero__title {
    max-width: 720px;
    height: 200px;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin-top: 90px;
    text-align: center;
}

.hero__subtitle {
    max-width: 720px;
    height: 72px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 32px;
}

.hero__image {
    width: 100%;
    margin-top: 64px;
}

@media screen and (max-width: 768px) {
    .hero {
        font-family: Inter, sans-serif;
        max-width: 720px;
        margin: 0 auto;
    }

    .hero__title {
        font-family: Inter, sans-serif;
        font-weight: 900;
        font-size: 75px;
        line-height: 79px;
        margin-top: 90px;
    }

    .hero__subtitle {
        max-width: 720px;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-top: 25px;
    }

    .hero__image {
        margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .hero {
        font-family: Inter, sans-serif;
        max-width: 320px;
        margin: 0 auto;
    }
    
    .hero__title {
        width: 228px;
        height: 88px;
        font-family: Inter, sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin-top: 50px;
    }

    .hero__subtitle {
        width: 288px;
        height: 40px;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-top: 16px;
    }

    .hero__image {
        margin-top: 40px;
    }
}