.intro {
    font-family: Inter;
    max-width: 984px;
    margin: 0 auto;
}

.intro__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-top: 92px;
    max-width: 830px;
}

.intro__subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: 40px;
    max-width: 738px;
}

.intro__author {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;
    max-width: 732px;
    text-align: right;
}

.intro__text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top: 32px;
    margin-bottom: 132px;
    max-width: 722px;
}

@media screen and (max-width: 768px) {
    .intro {
        font-family: Inter;
        max-width: 707px;
        margin: 0 auto;
    }
    
    .intro__title {
        /* width: 707px; */
        font-family: Inter;
        font-weight: 900;
        font-size: 45px;
        line-height: 49px;
        text-align: center;
        margin-top: 90px;
    }

    .intro__subtitle {
        /* width: 720px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin-top: 50px;
    }

    .intro__author {
        /* width: 720px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin-top: 26px;
        text-align: right;
    }

    .intro__text {
        /* width: 720px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin-top: 32px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        font-family: Inter;
        max-width: 288px;
        margin: 0 auto;
    }
    
    .intro__title {
        /* width: 288px; */
        font-family: Inter;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
        text-align: left;
    }


    .intro__subtitle {
        /* width: 288px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
    }

    .intro__author {
        /* width: 288px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin-top: 10px;
        text-align: right;
    }

    .intro__text {
        /* width: 288px; */
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin-top: 32px;
        margin-bottom: 64px;
    }
}