.intro {
    font-family: Inter;
    max-width: 984px;
    margin: 0 auto;
}

.intro__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-top: 92px;
    max-width: 830px;
}

.intro__subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: 40px;
    max-width: 738px;
}

.intro__author {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;
    max-width: 732px;
    text-align: right;
}

.intro__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top: 32px;
    margin-bottom: 132px;
    max-width: 722px;
}