.page {
    background-color: #2A2C2F;
    color: #fff;
    width: 100%;
    min-width: 1280px;
    min-height: 1883px;
    box-sizing: border-box;`
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .page {
        min-width: 768px;
        min-height: 1659px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        min-width: 320px;
        min-height: 1550px;
    }
}

@media screen and (max-width: 320px) {
}