.page {
    background-color: #2A2C2F;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .page {
        min-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        min-width: 320px;
    }
}

@media screen and (max-width: 320px) {
}