.photo__grid {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.photo__grid-image {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .photo__grid {
        max-width: 720px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .photo__grid-image {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .photo__grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 288px;
        margin: 0 auto;
    }

    .photo__grid-image {
        max-width: 288px;
    }
}