@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/hero.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);
@import url(../vendor/fonts.css);

body {
    background-color: #2A2C2F;
    color: #fff;
}